/vendor
/node_modules
/bower_components
/public/storage
Homestead.yaml
Homestead.json
.env
.emails
.idea/
/metronic_v4.5.6/
/public/img/uploads/*
/public/trumbowyg/*
/public/fonts/cairo/*
database/migrations/_______currencies_table
composer.lock