/vendor
/node_modules
/bower_components
/public/storage
Homestead.yaml
Homestead.json
.env
.idea/
/metronic_v4.5.6/
/public/img/uploads/*
/public/trumbowyg/*
/public/meem
database/migrations/__2016_04_01_161501_create_currencies_table.php
